
/Behave/bin
/Behave/obj
*.cache
*.dll
*.exe
*.force
/Behavior/bin/Debug/Behavior.vshost.exe.manifest
/FixtureLauncher/bin/Debug/FixtureLauncher.vshost.exe.manifest
/Behave.Tests/bin/x86/Debug/data.path
*.user
*.pdb
*.suo
/Behave.Tests/obj/Debug/Behave.Tests.csproj.FileListAbsolute.txt
/Behave.Tests/obj/x86/Debug/Behave.Tests.csproj.FileListAbsolute.txt
/Behavior.Common/obj/x86/Debug/Behavior.Common.csproj.FileListAbsolute.txt
/Behavior.Common.Tests/obj/Debug/Behavior.Common.Tests.csproj.FileListAbsolute.txt
/Behavior.Common.Tests/obj/x86/Debug/Behavior.Common.Tests.csproj.FileListAbsolute.txt
/Behavior/obj/Debug/Behavior.csproj.FileListAbsolute.txt
/Behavior/obj/x86/Debug/Behavior.csproj.FileListAbsolute.txt
/Behavior.Logging/obj/Debug/Behavior.Logging.csproj.FileListAbsolute.txt
/Behavior.Logging/obj/x86/Debug/Behavior.Logging.csproj.FileListAbsolute.txt
/Behavior.Remote/obj/Debug/Behavior.Remote.csproj.FileListAbsolute.txt
/Behavior.Remote/obj/x86/Debug/Behavior.Remote.csproj.FileListAbsolute.txt
/Behavior.Reports/obj/Debug/Behavior.Reports.csproj.FileListAbsolute.txt
/Behavior.Reports/obj/x86/Debug/Behavior.Reports.csproj.FileListAbsolute.txt
/BehaviorTests/obj/Debug/BehaviorTests.csproj.FileListAbsolute.txt
/BehaviorTests/obj/x86/Debug/BehaviorTests.csproj.FileListAbsolute.txt
/FixtureLauncher/obj/Debug/FixtureLauncher.csproj.FileListAbsolute.txt
/FixtureLauncher/obj/x86/Debug/FixtureLauncher.csproj.FileListAbsolute.txt
/FixtureServer/obj/x86/Debug/FixtureServer.cs.csproj.FileListAbsolute.txt
/FixtureServer/obj/Debug/FixtureServer.csproj.FileListAbsolute.txt
/FixtureServer/obj/x86/Debug/FixtureServer.csproj.FileListAbsolute.txt
/SampleFixtureTests/obj/Debug/SampleFixtureTests.csproj.FileListAbsolute.txt
/SampleFixtureTests/obj/x86/Debug/SampleFixtureTests.csproj.FileListAbsolute.txt
/WatinExtensions/obj/Debug/WatinExtensions.csproj.FileListAbsolute.txt
/WatinExtensions/obj/x86/Debug/WatinExtensions.csproj.FileListAbsolute.txt
/Behave.Tests/bin/x86/Debug/Behave.Tests.dll.VisualState.xml
/Behavior.Common.Tests/bin/x86/Debug/Behavior.Common.Tests.dll.VisualState.xml
/BehaviorTests/bin/Debug/BehaviorTests.dll.VisualState.xml
/Behave.Tests/bin/x86/Debug/Newtonsoft.Json.xml
/Behavior.Common.Tests/bin/x86/Debug/Newtonsoft.Json.xml
/Behavior.Common/bin/Debug/Newtonsoft.Json.xml
/Behavior.Remote/bin/x86/Debug/Newtonsoft.Json.xml
/Behavior.Reports/bin/x86/Debug/Newtonsoft.Json.xml
/Behavior/bin/Debug/Newtonsoft.Json.xml
/BehaviorTests/bin/Debug/Newtonsoft.Json.xml
/FixtureLauncher/bin/Debug/Newtonsoft.Json.xml
/FixtureServer/bin/Debug/Newtonsoft.Json.xml
/SampleFixtureTests/bin/Debug/Newtonsoft.Json.xml
/Behave.Tests/bin/x86/Debug/Ninject.xml
/Behavior/bin/Debug/Ninject.xml
/BehaviorTests/bin/Debug/Ninject.xml
/Behave.Tests/bin/x86/Debug/nunit.framework.xml
/Behavior.Common.Tests/bin/x86/Debug/nunit.framework.xml
/BehaviorTests/bin/Debug/nunit.framework.xml
/FixtureServer/bin/Debug/nunit.framework.xml
/SampleFixtureTests/bin/Debug/nunit.framework.xml
/WatinExtensions/bin/x86/Debug/nunit.framework.xml
/SampleFixtureTests/bin/Debug/SampleFixtureTests.dll.VisualState.xml
/Behave.Tests/bin/x86/Debug/TestResult.xml
/Behavior.Common.Tests/bin/x86/Debug/TestResult.xml
/BehaviorTests/bin/Debug/TestResult.xml
/SampleFixtureTests/bin/Debug/TestResult.xml
/FixtureServer/bin/Debug/WatiN.Core.xml
/SampleFixtureTests/bin/Debug/WatiN.Core.xml
/WatinExtensions/bin/x86/Debug/WatiN.Core.xml
/Behavior.Common.Tests/bin/x86/Debug/TestData/project/57287351-1d82-427f-8ac5-c8fb66527eda.jsn
/Behavior.Common.Tests/bin/x86/Debug/TestData/story/a7f26708-4dc3-4b1a-9e11-f39c1fa5b4d2.jsn
/Behavior.Common.Tests/bin/x86/Debug/TestData/scenario/c8e568d1-7f44-4445-a8f3-533ae2c36b7d.jsn
/Behave.Tests/bin/x86/Debug/Config.cfg
/Behavior/bin/Debug/Config.cfg
/Behavior/Config.cfg
/BehaviorTests/bin/Debug/Config.cfg
/Behavior/bin/Debug/Behavior.exe.config
/Behavior/bin/Debug/Behavior.vshost.exe.config
/BehaviorTests/bin/Debug/BehaviorTests.dll.config
/FixtureLauncher/bin/Debug/FixtureLauncher.exe.config
/FixtureLauncher/bin/Debug/FixtureLauncher.vshost.exe.config
/FixtureServer/bin/Debug/FixtureServer.exe.config
/SampleFixtureTests/bin/Debug/SampleFixtureTests.dll.config
/Behavior/bin/Debug/TestResults.html
/Behave.Tests/bin
/Behavior/bin
/BehaviorTests/bin
/Test
/Behavior.Reports/bin
/Behavior.Reports/obj
/FixtureLauncher/bin
/FixtureServer/bin
/Behavior.Common.Tests/bin
/Behavior.Common.Tests/obj
/Behavior.Common/obj
/Behavior.Remote/bin
/WatinExtensions/bin
/WatinExtensions/obj